<div class="jumbotron jumbtron-fluid">
  <div class="text-center">
    <img src="/assets/img/finn.png" width="80">
    <div class="title">Take away bestilling</div>
    <div class="subtitle">Demo af Finn Skjoldager</div>
    <div class="hvadviljeg"><a href="https://f.finnskjold.dk"><img src="/assets/img/succes2.png" width="40">Hvad vil jeg ?</a></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>